@model List<Lab.EF.MVC.Models.CategoriesViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>          
            <td>Categoria</td>
            <td>Eliminar</td>
            <td>Modificar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td> @item.Name</td>
                <td> @Html.ActionLink("Eliminar", "ConfirmarEliminacion", new { id = @item.Id })</td>
                <td> @Html.ActionLink("Modificar", "Modificar", new { id = @item.Id })</td>
            </tr>
        }
    </tbody>
</table>

<div style="text-align:right;">
    @Html.ActionLink("Agregar", "Insert")
</div>



